.header{
    font-size: 13px;
    border-bottom: 1px solid  rgba(243, 245, 248, 0.5);
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 17px 0;
    }
    &__menu{
        &-mobile{
            display: none;
        }
    }
    &__phone{
        span{
            display: block;
            line-height: 24px;
            color: $text-grey;
        }
    }
}
@media (max-width: 1160px){
    .header{
        font-size: 11px;
        &__menu{
            display: block;
            &-mobile{
                display: none;
            }
        }
    }
}
@media (max-width: 991px){
	.header{
        position: relative;
        background-color: #E8EBF0;
        &__menu{
            display: none;
            &-mobile{
                display: none;
                position: absolute;
                width: 100%;
                background-color: #F0F2F5;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }
        }
    }
}