.join{
    &__wrapper{
        padding: 50px 0 5px;
    }
    &__title{
        margin-top: 0;
    }
}
@media (max-width: 480px){
    .join{
        &__wrapper{
            padding: 40px 0 50px;
        }
        &__title{
            margin-top: 0;
        }
    }
}